<section class="hero-section">
	<div class="hero-container">
		<div class="left-col">
			<div>{{small_heading}}</div>
			<h2>{{title_heading}}</h2>
			<p>{{description}}</p>
			<a href={{link_url}}>{{button_text}}</a>
		</div>
		<div class="right-col">
			{{image|raw}}
		</div>
	</div>
</section>
