<section class="signature-section">
	<div class="signature-container">
		<div class="left-col">
    		{{signature_image|raw}}
		</div>
		<div class="right-col">
			<div class="small-heading">{{small_heading}}</div>
			<h2>{{title_heading}}</h2>
			<p>{{description}}</p>
			<div class="name-job-title">{{name_job_title}}</div>
			{{signature_logo|raw}}
		</div>
	</div>
</section>
