<div class="view-doctors-container">
  <div class="left-col">
    {{image|raw}}
  </div>
  <div class="right-col">
    <div class="view-docs-small-heading">{{small_title}}</div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <a href={{link_url}}>{{button_text}}</a>
  </div>
</div>