<div class="doctor-entry-block">
<div class="image-container">
<div class="image-overlay">{{doctor_blog_link}}</div>
{{card_image|raw}}

</div>
<div class="doctor-name">{{doctor_name}}</div>
<div class="doctor-type">{{doctor_type}}</div>
<p>{{description}}</p>
</div>
