<div class="treatment-plan-block">
  {{treatment_logo|raw}}
  <div class="treatment-title">{{title}}</div>
  <div class="treatment-price">{{price}}</div>
  <div class="recurrence">{{recurrence}}</div>
  <p>{{description}}</p>
  <a href={{link_url}}>{{button_text}}</a>
</div>